{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Илья Кусакин</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Page description">
    <meta name="keywords" content="page, keywords">
    <meta name="theme-color" content="#000000">
    <meta name="copyright" content="Author">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000">
    <meta name="apple-mobile-web-app-title" content="Application Name">
    <meta name="msapplication-TileImage" content="img/favicons/144x144.png">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="format-detection" content="telephone=no">
    <link rel="preload" href="{% static 'css/style.min.css' %}" as="style"
          onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    </noscript>
    <script>!function (t) {
        "use strict";
        t.loadCSS || (t.loadCSS = function () {
        });
        var e = loadCSS.relpreload = {};
        if (e.support = function () {
                var e;
                try {
                    e = t.document.createElement("link").relList.supports("preload")
                } catch (t) {
                    e = !1
                }
                return function () {
                    return e
                }
            }(), e.bindMediaToggle = function (t) {
                var e = t.media || "all";

                function a() {
                    t.media = e
                }

                t.addEventListener ? t.addEventListener("load", a) : t.attachEvent && t.attachEvent("onload", a), setTimeout(function () {
                    t.rel = "stylesheet", t.media = "only x"
                }), setTimeout(a, 3e3)
            }, e.poly = function () {
                if (!e.support())for (var a = t.document.getElementsByTagName("link"), n = 0; n < a.length; n++) {
                    var o = a[n];
                    "preload" !== o.rel || "style" !== o.getAttribute("as") || o.getAttribute("data-loadcss") || (o.setAttribute("data-loadcss", !0), e.bindMediaToggle(o))
                }
            }, !e.support()) {
            e.poly();
            var a = t.setInterval(e.poly, 500);
            t.addEventListener ? t.addEventListener("load", function () {
                e.poly(), t.clearInterval(a)
            }) : t.attachEvent && t.attachEvent("onload", function () {
                    e.poly(), t.clearInterval(a)
                })
        }
        "undefined" != typeof exports ? exports.loadCSS = loadCSS : t.loadCSS = loadCSS
    }("undefined" != typeof global ? global : this);</script>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="img/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="img/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="icon" href="img/png/favicon.ico" type="image/x-icon">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<header class="uk-visible@l" style="z-index: 980;"
        uk-sticky="top: 200; animation: uk-animation-slide-top; bottom: #sticky-on-scroll-up">
    <div class="uk-container">
        <div class="uk-grid uk-grid-large " uk-grid="">
            <div class="uk-width-auto@l uk-text-center uk-text-left@l date uk-position-relative">
                <p class="uk-position-relative">
                    17 марта 2018 года,<br>
                    09.00 (регистрация)
                </p>
            </div>
            <div class="uk-width-auto@l uk-text-center uk-text-left@l map uk-position-relative">
                <p class="uk-position-relative">
                    г. Бишкек , пр. Чуй, 251 Кыргызская национальная<br>
                    филармония имени Т. Сатылганова

                </p>
            </div>
            <div class="uk-width-expand@l uk-text-center uk-text-right@l call-back">
                <div><span uk-toggle="target: #modal-center-form">обратная связь</span></div>
                <div><a href="tel: (+996) 553347000 ">0553347000</a></div>
            </div>
        </div>
    </div>
</header>
<section class="top-banner">
    <div class="uk-container">
        <div class="uk-grid" uk-grid="">
            <div class="uk-width-expand@m">
                <div class="uk-hidden@l uk-margin-medium-bottom">
                    <div class="date">
                        <p class="uk-position-relative">
                            17 марта 2018 года,<br>
                            09.00 (регистрация)
                        </p>
                    </div>
                    <div class="map">
                        <p class="uk-position-relative">
                            г. Бишкек , пр. Чуй, 251 Кыргызская национальная<br>
                            филармония имени Т. Сатылганова

                        </p>
                    </div>
                    <div class="call-back">
                        <div><span uk-toggle="target: #modal-center-form">обратная связь</span></div>
                        <div><a href="tel: (+996) 553347000 ">0553347000</a></div>
                    </div>
                </div>
                <h1>Илья Кусакин</h1>
                <h2>Директор по построения <br> в группе компаний Black Star.</h2>
                <h3>Откроет главные секреты успеха <br> Black Star burger и увеличения продаж.</h3><a
                    class="uk-button uk-button-default" href="#modal-center-form" uk-toggle="">Бесплатная
                консультация</a>
            </div>
            <div class="uk-width-auto@m uk-text-center@s"><img src="{% static 'img/png/human2.png' %}" alt=""></div>
        </div>
    </div>
</section>
<section class="video-message">
    <div class="uk-container">
        <h2 class="uk-text-center">ВИДЕО-ОБРАЩЕНИЕ<span>ильи кусакина</span></h2>
        <div class="youtube-block-video">
            <div class="uk-width-2-3@m uk-margin-auto">
                <div class="uk-padding-small">
                    <div class="before uk-position-relative">
                        <div class="after uk-position-relative">
                            <iframe width="100%" height="420" src="https://www.youtube.com/embed/EZFQbMtbW9c"
                                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="uk-text-center">ДЛЯ КОГО <br> <span> СЕМИНАР МОЖЕТ БЫТЬ ПОЛЕЗЕН?</span></h2>
            <div class="uk"></div>
            <div class="uk-width-2-3@m uk-text-center uk-margin-large-bottom uk-margin-auto">
                <p>
                    Для всех начинающих предпринимателей («стартаперов»), действующих предпринимателей,
                    менеджеров среднего и высшего звена, инвесторов, которые хотят научиться правильно развивать и
                    использовать свой потенциал, направляя в правильное русло.
                    Илья Кусакин научит на что необходимо обращать внимание при создании продукта, как стоит его
                    продвигать и в конечном итоге,
                    как необходимо выстраивать стратегию продаж, результатом которой будет очередь в вашем заведении.
                </p>
            </div>
            <h2 class="uk-text-center">Что узнаете <span> на тренинге?</span></h2>
            <div class="uk-grid uk-grid-large step uk-child-width-1-3@m" uk-grid="">
                <div>
                    <div><img src="{% static 'img/png/v1.png' %}" alt="">
                        <h4>Эволюция продукта</h4>
                        <p>Эволюция продукта. Как создать продукт будущего, и навсегда отказаться от прямых продаж.</p>
                    </div>
                </div>
                <div>
                    <div><img src="{% static 'img/png/v2.png' %}" alt="">
                        <h4>Продвижения продукта</h4>
                        <p>Как правильно использовать самый главный канал привлечения и доверия клиентов? </p>
                    </div>
                </div>
                <div>
                    <div><img src="{% static 'img/png/v3.png' %}" alt="">
                        <h4>Продажи</h4>
                        <p>Как стать своим для клиента.? эффективные методы переговоров и продаж.</p>
                    </div>
                </div>
            </div>
            <div class="uk-text-center uk-margin-large-top"><a class="uk-button uk-button-default"
                                                               href="#modal-center-form" uk-toggle="">записаться на
                семинар</a></div>
        </div>
    </div>
</section>
<section class="meet">
    <div class="uk-container">
        <h2>знакомьтесь <br> <span> с ИльЁй Кусакиным</span></h2>
        <h5>Директор по построению в группе компании BlackStar</h5>
        <h4>Cистематизировал отделы продаж в следующих компаниях:</h4>
        <div class="uk-grid uk-flex-middle logo-image" uk-grid="">
            <div><img src="{% static 'img/png/m1.png' %}" alt=""></div>
            <div><img src="{% static 'img/png/m2.png' %}" alt=""></div>
            <div><img src="{% static 'img/png/m3.png' %}" alt=""></div>
            <div><img src="{% static 'img/png/m4.png' %}" alt=""></div>
            <div><img src="{% static 'img/png/m5.png' %}" alt=""></div>
        </div>
        <hr>
        <div class="uk-grid" uk-grid="">
            <div class="uk-width-expand@m">
                <p>
                    Более 5 лет Илья являлся корпоративным тренером
                    компаний Blackstar и личным коучем ее основных акционеров.
                    Сегодня Илья является Директором по Построяению всей группы
                    компаний, а также основателем и соучредителем одного
                    из ключевых направления компании «Люди Дела».
                </p>
            </div>
            <div class="uk-width-expand@m">
                <p>
                    Альпина Паблишерз выпустило две книги
                    Ильи Кусакина «Главный навык менеджера»
                    и «Эффективность продающего», каждая
                    из которых стала бестселлером.
                </p>
            </div>
            <div class="uk-width-auto@m"><img src="{% static 'img/png/book.png' %}" alt=""></div>
        </div>
        <div class="uk-grid client uk-flex-middle" uk-grid="">
            <div><a class="uk-button uk-button-default" href="#modal-center-form" uk-toggle="">Бесплатная
                консультация</a></div>
            <div>
                <div class="uk-flex uk-flex-middle target-modal">
                    <div class="play uk-flex uk-flex-middle"><img class="uk-margin-auto"
                                                                  src="{% static 'img/png/play.png' %}" alt=""></div>
                    <span>Отзывы <br> клиентов</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="numbers">
    <div class="uk-container">
        <h2 class="uk-text-center">в цифрах</h2>
        <div class="uk-grid uk-grid-large uk-flex-center" uk-grid="">
            <div><b class="uk-flex uk-flex-middle">30 <span> Отдел продаж <br> построил "с нуля</span></b></div>
            <div><b class="uk-flex uk-flex-middle">200 млн. руб
                <span> Лично продал товаров <br> и услуг на эту сумму</span></b></div>
            <div><b class="uk-flex uk-flex-middle">10 000 <span> Нанял и обучил <br> корпоративных менеджеров</span></b>
            </div>
            <div><b class="uk-flex uk-flex-middle">300 <span> Провёл <br> корпоративных тренингов</span></b></div>
        </div>
    </div>
</section>
<section class="black-star">
    <div class="uk-container">
        <div class="uk-grid uk-child-width-1-2@m" uk-grid="">
            <div><img src="{% static 'img/jpg/br.jpg' %}" alt=""></div>
            <div><img src="{% static 'img/jpg/br.jpg' %}" alt=""></div>
        </div>
    </div>
</section>
<section class="topics-workshop">
    <div class="uk-container">
        <h2 class="uk-text-center uk-text-left@m">темы <br> <span>семинара</span></h2>
        <div class="uk-grid " uk-grid="">
            <div class="uk-width-expand@m uk-text-center uk-text-left@m">
                <div class="number">1</div>
                <h4>Стратегический <br>Маркетинг <br> - как не быть как все.</h4>
            </div>
            <div class="uk-width-2-3@m uk-text-center uk-text-left@m">
                <ul>
                    <li>Причины успеха Black Star Burger.</li>
                    <li>Упаковка смыслов и визуализации продукта.</li>
                    <li>Голубой Океан и Красный Океан- рынка СНГ.</li>
                    <li>Как создать Продукт шагающий в ногу с трендами ниши?</li>
                    <li>Как составить Уникальное Торговое Предложение?</li>
                    <li>Уникальный Сервис - как создать и поддерживать высокие стандарты?</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="uk-grid " uk-grid="">
            <div class="uk-width-expand@m">
                <div class="number">2</div>
                <h4>Продвижение <br> продукта</h4>
            </div>
            <div class="uk-width-2-3@m">
                <ul>
                    <li>Как генерировать идеи для Постов?</li>
                    <li>Механика креатива лучших блоггеров планеты.</li>
                    <li>Рубрикация своего Instagram.</li>
                    <li>Создание идеи своего YouTube канала.</li>
                    <li>Как вовлекать и побуждать аудиторию к действию?</li>
                    <li>Как обеспечить Резкий Рост кол-ва Подписчиков?</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="uk-grid " uk-grid="">
            <div class="uk-width-expand@m">
                <div class="number">3</div>
                <h4>Продажи </h4>
            </div>
            <div class="uk-width-2-3@m">
                <ul>
                    <li>Как правильно выстроить систему продаж в вашем бизнесе?</li>
                    <li>Как быстро заговорить на языке собеседника?</li>
                    <li>Кардинальное изменение в подходе к переговорам и продажам</li>
                    <li>Как поддерживать теплые отношения с действующими клиентами и Максимизировать чеки/сделки?</li>
                    <li>Тренировки по Продажам и Переговорам, которые станут домашним заданием на целых 7 недель</li>
                </ul>
            </div>
        </div>
        <div class="uk-text-center"><a class="uk-button uk-button-default uk-margin-large-top" href="#modal-center-form"
                                       uk-toggle="">записаться на семинар</a></div>
    </div>
</section>
<section class="video-bg uk-cover-container">
    <iframe src="https://www.youtube.com/embed/mLmmAfn9PuU?rel=0&amp;amp;showinfo=0;loop=1&amp;" width="560"
            height="315" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen uk-cover=""></iframe>
    <div class="uk-container">
        <div class="uk-position-relative zindex">
            <div><img src="{% static 'img/png/up.png' %}" alt=""></div>
            <div>
                <h1>секрет успеха black star burger</h1>
                <h2>
                    как обеспечить постоянный поток клиентов <br>
                    в ваш бизнес?
                </h2>
            </div>
            <div class="uk-grid uk-grid-large uk-flex-middle" uk-grid="">
                <div class="uk-width-auto@m"><img src="{% static 'img/png/bsb-logo.png' %}" alt=""></div>
                <div class="uk-width-expand@m">
                    <h3>Тогда не пропустите шанс попасть на <br> <b> семинар от Ильи Кусакина 17 марта в 9:00</b></h3>
                </div>
            </div>
            <div class="uk-margin-large-top"><a class="uk-button uk-button-default" href="#modal-center-form"
                                                uk-toggle="">записаться на семинар</a></div>
        </div>
    </div>
</section>
<section class="tarif">
    <div class="uk-container">
        <div uk-slider="autoplay: true">
            <div class="uk-grid uk-flex-middle uk-child-width-auto" uk-grid="">
                <div>
                    <h2>ТАРИФНЫЕ <br> <b> ПЛАНЫ</b></h2>
                </div>
                <div><a class="arrow-slider uk-hidden-hover" href="#" uk-slidenav-previous=""
                        uk-slider-item="previous"></a><a class="arrow-slider uk-hidden-hover" href="#"
                                                         uk-slidenav-next="" uk-slider-item="next"></a></div>
            </div>
            <div class="uk-position-relative uk-light">
                <ul class="uk-slider-items uk-grid uk-grid-small uk-child-width-1-3@l uk-child-width-1-2@m uk-child-width-1-2@s">
                    <li class="standart">
                        <div class="uk-card uk-card-default uk-box-shadow-hover-large">
                            <div class="uk-card-media-top uk-cover-container"><img src="{% static 'img/png/sl1.png' %}"
                                                                                   alt="" uk-cover="">
                                <canvas width="600" height="400"></canvas>
                            </div>
                            <div class="uk-card-body">
                                <h3 class="uk-card-title">STANDART</h3>
                                <p>1 200 c</p>
                                <div class="uk-grid uk-grid-small uk-flex-middle uk-margin-medium-top uk-child-width-1-2@m"
                                     uk-grid="">
                                    <div><a class="uk-button uk-button-default" href="#modal-center-form" uk-toggle="">купить
                                        билет</a></div>
                                    <div class="uk-text-center"><a href="#modal-center-stan" uk-toggle="">подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="gold">
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top uk-cover-container"><img src="{% static 'img/png/sl2.png' %}"
                                                                                   alt="" uk-cover="">
                                <canvas width="600" height="400"></canvas>
                            </div>
                            <div class="uk-card-body">
                                <h3 class="uk-card-title">gold</h3>
                                <p>3 500 c</p>
                                <div class="uk-grid uk-grid-small uk-flex-middle uk-margin-medium-top uk-child-width-1-2@m"
                                     uk-grid="">
                                    <div><a class="uk-button uk-button-default" href="#modal-center-form" uk-toggle="">купить
                                        билет</a></div>
                                    <div class="uk-text-center"><a href="#modal-center-gold" uk-toggle="">подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="vip">
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top uk-cover-container"><img src="{% static 'img/png/sl3.png' %}"
                                                                                   alt="" uk-cover="">
                                <canvas width="600" height="400"></canvas>
                            </div>
                            <div class="uk-card-body">
                                <h3 class="uk-card-title">VIP</h3>
                                <p>10 000 c</p>
                                <div class="uk-grid uk-grid-small uk-flex-middle uk-margin-medium-top uk-child-width-1-2@m"
                                     uk-grid="">
                                    <div><a class="uk-button uk-button-default" href="#modal-center-form" uk-toggle="">купить
                                        билет</a></div>
                                    <div class="uk-text-center"><a href="#modal-center-vip" uk-toggle="">подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="platinum">
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top uk-cover-container"><img src="{% static 'img/png/sl4.png' %}"
                                                                                   alt="" uk-cover="">
                                <canvas width="600" height="400"></canvas>
                            </div>
                            <div class="uk-card-body">
                                <h3 class="uk-card-title">PLATINUM</h3>
                                <p>35 000 c</p>
                                <div class="uk-grid uk-grid-small uk-flex-middle uk-margin-medium-top uk-child-width-1-2@m"
                                     uk-grid="">
                                    <div><a class="uk-button uk-button-default" href="#modal-center-form" uk-toggle="">купить
                                        билет</a></div>
                                    <div class="uk-text-center"><a href="#modal-center-plat" uk-toggle="">подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="standart">
                        <div class="uk-card uk-card-default uk-box-shadow-hover-large">
                            <div class="uk-card-media-top uk-cover-container"><img src="{% static 'img/png/sl1.png' %}"
                                                                                   alt="" uk-cover="">
                                <canvas width="600" height="400"></canvas>
                            </div>
                            <div class="uk-card-body">
                                <h3 class="uk-card-title">STANDART</h3>
                                <p>1 200 c</p>
                                <div class="uk-grid uk-grid-small uk-flex-middle uk-margin-medium-top uk-child-width-1-2@m"
                                     uk-grid="">
                                    <div><a class="uk-button uk-button-default" href="#modal-center-form" uk-toggle="">купить
                                        билет</a></div>
                                    <div class="uk-text-center"><a href="#modal-center-stan" uk-toggle="">подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="seminar">
    <div class="uk-container">
        <div class="uk-width-1-2@m">
            <div>
                <h2>
                    ИНВЕСТИЦИИ В ЗНАНИЯ
                    ГАРАНТИРУЮТ НАИБОЛЬШУЮ
                    ПРИБЫЛЬ. ВКЛАДЫВАЙТЕ В СЕБЯ!
                </h2>
                <h3>
                    Бизнес — это гонка.
                    И вы участвуете в ней. Как выиграть гонку за успех в бизнесе?
                </h3>
                <p>
                    Инвестировать в себя и свои знания. Постоянно искать новые способы применения полученной информации
                    и приобретенных знаний. Так вы сможете увеличивать финансовые
                    результаты и быстрее достигать цели. Полученные знания и навыки станут вашим преимуществом перед
                    другими.
                </p>
                <h4 class="uk-margin-medium-bottom">
                    ТРЕНИНГ ИЛЬИ КУСАКИНА - ЭТО
                    ВАШИ ИНВЕСТИЦИИ В СЕБЯ, КОТОРЫЕ
                    <br> <b>100% ВЕРНУТСЯ С ДИВИДЕНДАМИ!</b>
                </h4>
                <dit><a class="uk-button uk-button-default" href="#modal-center-form" uk-toggle="">записаться на
                    семинар</a></dit>
            </div>
        </div>
    </div>
</section>
<section class="fb">
    <div class="uk-container uk-text-center"><a class="uk-flex-inline uk-flex-middle" href=""><img
            src="{% static 'img/png/fb.png' %}" alt=""><span class="uk-text-left">
            facebook<br>
            <b>поделиться</b></span></a></div>
</section>
<section class="registration">
    <div class="uk-container">
        <div class="uk-grid uk-child-width-1-2@m" uk-grid="">
            <div>
                <h2>ЗАРЕГИСТРИРУЙТЕСЬ</h2>
                <h3>
                    на семинар прямо сейчас,
                    чтобы выбрать лучшие
                    места по самой выгодной цене:
                </h3>
                <form action="" method="POST" id="form-with-email">
                    <div class="uk-margin">
                        <input class="uk-input" type="text" placeholder="Имя" name="name" id="form-e-name">
                    </div>
                    <div class="uk-margin">
                        <input class="uk-input" type="email" placeholder="Электронная почта" name="email"
                               id="form-e-email">
                    </div>
                    <div class="uk-margin">
                        <input class="uk-input" type="phone" placeholder="Телефон" name="phone" id="form-e-phone">
                    </div>
                    <div class="uk-margin">
                        <button class="uk-button uk-button-default" type="submit">отправить</button>
                    </div>
                </form>
            </div>
            <div class="uk-text-center"><img src="{% static 'img/png/human2.png' %}" alt=""></div>
        </div>
    </div>
</section>
<footer>
    <div class="uk-container">
        <div class="uk-grid uk-child-width-1-2@m uk-flex-middle" uk-grid="">
            <div>
                <h2>наши <br> <b> контакты</b></h2>
                <div><a href="tel:(+996) 775337000">(+996) 775 33 70 00</a></div>
                <div><a href="tel:(+996) 553347000">(+996) 553 34 70 00</a></div>
                <div></div>
                <a href="tel:(+996) 703347000">(+996) 703 34 70 00</a>
                <div class="uk-margin"><a href="mailto: men.ishkermin2018@gmail.com">men.ishkermin2018@gmail.com</a>
                </div>
                <div class="uk-margin"><a href="mailto: Men.ishkermin2018@mail.ru">Men.ishkermin2018@mail.ru</a></div>
                <div class="uk-margin"><a class="uk-margin-small-right" href=""><img
                        src="{% static 'img/png/sfb.png' %}" alt=""></a><a href=""><img src="img/png/sin.png"
                                                                                        alt=""></a></div>
                <div class="uk-margin"><a class="uk-button uk-button-default" href="#modal-center-form" uk-toggle="">бесплатная
                    консультация</a></div>
                <div class="uk-margin">
                    <p>© 2010-2018 Все права защищены</p>
                </div>
            </div>
            <div>
                <div class="uk-position-relative"><img src="{% static 'img/png/cont.png' %}" alt="">
                    <div class="uk-position-cover uk-flex uk-flex-center uk-flex-middle">
                        <div class="uk-text-center"><img src="{% static 'img/png/map.png' %}" alt="">
                            <p class="uk-text-center">
                                Место проведения: "Кыргызская национальная
                                филармония имени Т. Сатылганова"
                                г. Бишкек , пр. Чуй, 251.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<section class="bottom-line">
    <div class="uk-container">
        <div class="uk-grid uk-flex-middle uk-child-width-1-2@m" uk-grid="">
            <div><img src="{% static 'img/png/f1.png' %}" alt=""></div>
            <div>
                <p>
                    <b>Клуб предпринимателей «Мен Ишкермин» </b>является живым
                    олицетворением активности и целенаправленности на успех,
                    где Вы сможете раскрыть свой потенциал как предпринимателя
                    на все 100% в короткий срок.

                </p>
            </div>
        </div>
    </div>
</section>
<div class="uk-flex-top" id="modal-center-plat" uk-modal="">
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-padding-remove">
        <div class="uk-grid uk-grid-collapse uk-flex-middle" uk-grid="">
            <div class="uk-width-1-3@m uk-padding uk-text-center"
                 style="background: url({% static 'img/png/modal1.png' %});     background-color: #000;"><img
                    src="{% static 'img/png/modal.png' %}" alt="">
                <h4>тип билета</h4>
                <h5 class="plat">PLATINUM</h5>
                <h6>35 000 c</h6>
            </div>
            <div class="uk-width-expand@m uk-padding">
                <h3>что входит</h3>
                <ul>
                    <li>право участия на Гала-ужине с Ильей Кусакиным</li>
                    <li>книга (с автографом Ильи Кусакина)</li>
                    <li>сертификат о прохождения бизнес тренинга</li>
                    <li>личное фото со спикером</li>
                    <li>кофе-брейк</li>
                    <li>раздаточный материал</li>
                    <li>право участия в последующих бизнес-тренингах от «Мен Ишкермин» в категории «VIP»</li>
                </ul>
            </div>
        </div>
        <button class="uk-modal-close-default" type="button" uk-close=""></button>
    </div>
</div>
<div class="uk-flex-top" id="modal-center-gold" uk-modal="">
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-padding-remove">
        <div class="uk-grid uk-grid-collapse uk-flex-middle" uk-grid="">
            <div class="uk-width-1-3@m uk-padding uk-text-center"
                 style="background: url({% static 'img/png/modal1.png' %});     background-color: #000;"><img
                    src="{% static 'img/png/modal.png' %}" alt="">
                <h4>тип билета</h4>
                <h5 class="gold">GOLD</h5>
                <h6>3 500 C</h6>
            </div>
            <div class="uk-width-expand@m uk-padding">
                <h3>что входит</h3>
                <ul>
                    <li>место в зоне GOLD</li>
                    <li>кофе-брейк</li>
                    <li>сертификат о прохождения бизнес тренинга</li>
                    <li>раздаточный материал</li>
                    <li>дисконт на 10% для получения членства в клубе</li>
                </ul>
            </div>
        </div>
        <button class="uk-modal-close-default" type="button" uk-close=""></button>
    </div>
</div>
<div class="uk-flex-top" id="modal-center-vip" uk-modal="">
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-padding-remove">
        <div class="uk-grid uk-grid-collapse uk-flex-middle" uk-grid="">
            <div class="uk-width-1-3@m uk-padding uk-text-center"
                 style="background: url({% static 'img/png/modal1.png' %});     background-color: #000;"><img
                    src="{% static 'img/png/modal.png' %}" alt="">
                <h4>тип билета</h4>
                <h5 class="vip">VIP</h5>
                <h6>10 000 C</h6>
            </div>
            <div class="uk-width-expand@m uk-padding">
                <h3>что входит</h3>
                <ul>
                    <li>место в зоне VIP</li>
                    <li>регистрация без очереди</li>
                    <li>книга (с автографом Ильи Кусакина)</li>
                    <li>сертификат о прохождения бизнес тренинга</li>
                    <li>групповое фото со спикером</li>
                    <li>кофе-брейк</li>
                    <li>раздаточный материал</li>
                    <li>дисконт на 15% для получения членства в клубе</li>
                </ul>
            </div>
        </div>
        <button class="uk-modal-close-default" type="button" uk-close=""></button>
    </div>
</div>
<div class="uk-flex-top" id="modal-center-stan" uk-modal="">
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-padding-remove">
        <div class="uk-grid uk-grid-collapse uk-flex-middle" uk-grid="">
            <div class="uk-width-1-3@m uk-padding uk-text-center"
                 style="background: url({% static 'img/png/modal1.png' %});     background-color: #000;"><img
                    src="{% static 'img/png/modal.png' %}" alt="">
                <h4>тип билета</h4>
                <h5 class="stan">STANDART</h5>
                <h6>1 200 C</h6>
            </div>
            <div class="uk-width-expand@m uk-padding">
                <h3>что входит</h3>
                <ul>
                    <li>раздаточный материал</li>
                    <li>сертификат о прохождении тренинга</li>
                </ul>
            </div>
        </div>
        <button class="uk-modal-close-default" type="button" uk-close=""></button>
    </div>
</div>
<div class="uk-flex-top" id="modal-center-form" uk-modal="">
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <form action="" method="POST" id="form-modal">
            <div class="uk-margin">
                <input class="uk-input" type="name" placeholder="Имя" name="name" id="form-name" required>
            </div>
            <div class="uk-margin">
                <input class="uk-input" type="phone" placeholder="Телефон" name="phone" id="form-phone" required>
            </div>
            <div class="uk-margin">
                <button class="uk-button uk-button-default uk-width-1-1">Отправить</button>
            </div>
        </form>
        <button class="uk-modal-close-default" type="button" uk-close=""></button>
    </div>
</div>
<script src="{% static 'js/libs.min.js' %}"></script>
<script src="{% static 'js/common.min.js' %}"></script>

<script>
    $(document).ready(function () {
        $("#form-modal").submit(function (event) {
            $.ajax({
                type: "POST",
                url: {% url 'post_view' %},
                data: {
                    'name': $('#form-name').val(),
                    'phone': $('#form-phone').val()
                },
                success: function () {
                    alert('Ваше сообщение успешно отправлено!')
                    UIkit.modal('#modal-center-form').hide();
                }
            });
            return false; //<---- move it here
        });

    });

    $(document).ready(function () {
        $("#form-with-email").submit(function (event) {
            $.ajax({
                type: "POST",
                url: {% url 'post_view2' %},
                data: {
                    'name': $('#form-e-name').val(),
                    'phone': $('#form-e-phone').val(),
                    'email': $('#form-e-email').val()
                },
                success: function () {
                    alert('Ваше сообщение успешно отправлено!');
                }
            });
            return false; //<---- move it here
        });

    });

</script>

</body>
</html>